
.carousel .list .item:nth-child(1){
    z-index: 1;
}
.carousel .list .item:nth-child(1) .author ,
.carousel .list .item:nth-child(1) .title, 
.carousel .list .item:nth-child(1) .topic, 
.carousel .list .item:nth-child(1) .des, 
.carousel .list .item:nth-child(1) .buttons
{
   transform: translateY(50px);
   filter: blur(20px);
   opacity: 0;
   animation: show 0.5s 1s linear forwards;
}

@keyframes show {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}